body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #0077cc;
  color: white;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

/* Les sections de tout le web */
section {
  padding: 20px;
  background: white;
  margin: 10px;
  border-radius: 5px;
}

/* Le bas du web */
footer {
  text-align: center;
  padding: 10px;
  background: #ddd;

}

/* Titres internes */
section h2 {
  color: #0077cc;
  border-bottom: 2px solid #0077cc;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

section h3 {
  color: #333;
  margin-top: 20px;
}

/* Tableaux */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th {
  background-color: #0077cc;
  color: white;
  padding: 10px;
  text-align: left;
}

table td {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
}

/* Liste à puces */
ul {
  padding-left: 20px;
}

ul li {
  margin-bottom: 5px;
}

.btn-download {
  display: inline-block;
  background-color: #007BFF; /* bleu moderne */
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* espace entre les boutons */
  margin-bottom: 10px; /* évite le chevauchement vertical si responsive */
  white-space: nowrap; /* empêche le texte de passer à la ligne */
}

.btn-download:hover {
  background-color: #0056b3; /* bleu plus foncé au survol */
}
